/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    /* font-family: 'Open Sans', sans-serif; */
    margin: 0;
    padding: 50px;
}

header .line{
    background-color: rgb(179, 24, 24);
    height: 1px;
}

.btn {
    /* background-color: rgb(38, 121, 230); */
    color: #fff;
    margin: 0 5px;
}

.btn:hover {
    background-color: rgb(40,44,52);
    color: #fff;
    transform: scale(1.10);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-btn-primary {
    background-color: #fff;
}

.btn-btn-info {
    background-color: #fff;
}

.btn-btn-primary:hover {
    background-color: #0c0909; /* Green */
    color: white;
  }

#bt{
    background-color: rgb(0, 173, 237);
}

.btn:checked{
background-color: #0c0909; /* Green */
color: rgb(228, 206, 206);
}

.texto-inicial{
    margin: 0 -5px;
    justify-content: center;
    display: flex;
}

.container-header--area{
    justify-content: center;
    display: flex;
    /* background-color: rgb(38, 121, 230); */
}

.container-botões{
    justify-content: center;
    display: flex;
    margin: 35px;
}

.container{
    max-width: 1140px;
    /* margin: auto; */
    align-items: center;
    justify-content: center;    
    /* background-color:rgb(0, 67, 212); */
}

.header--area{
    background-color: rgb(38, 121, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    /* background-color: rgb(0, 67, 212); */
}

.header--left img{
    width: 400px;
    height: 80px;
    align-items: center;
    /* background-color:rgb(0, 67, 212); */
    
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search form{
    display: flex;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}
.card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /* padding: 14px 80px 18px 36px; */
    cursor: pointer;
    height: 420px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
    background-color: #fff;
}

.card:hover{
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/* .card {
    justify-content: center;
    width: 100px;
    height: 100px;
    border-color: #fff;
}
.card-body img{
    justify-content: center;
    width: 100px;
    height: 100px;
} */

/* Float four columns side by side */
.column {
    float: center;
    width: 25%;
    padding: 0 10px;
  }
  
/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
    background-color: #fff;
}

.banner { 
    align-items: center;
    justify-content: space-between;
}

.container-botões{
    margin: auto;
}