@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 50px;
}

header .line{
    background-color: rgb(179, 24, 24);
    height: 1px;
}

.btn {
    color: #fff;
    margin: 0 5px;
    background-color: rgb(60, 82, 243);
    transition: 0.2s;
    box-shadow: 1px 5px 8px #505050;
    border-color: transparent;
}
.btn:hover {
    background-color: rgb(0, 173, 237);
    color: white;
    transform: scale(1.10);
}
.btn:focus{
    border: none;
    outline: none;
    background-color: rgb(0, 173, 237);
    color: white;
    border-color: transparent;
    box-shadow: none;
}

.btn-danger{
    background-color: rgb(199, 16, 35);
    color: white;
    transition: 0.2s;
}
.btn-danger:hover{
    background-color: rgb(199, 16, 35);
    color: white;
}
.btn-danger:focus{
    background-color: rgb(199, 16, 35);
    color: white;
    transition: 0.2s;
    box-shadow: 1px 5px 8px #505050;
}

.texto-inicial{
    margin: 0 -5px;
    justify-content: center;
    display: flex;
}

.container-header--area{
    justify-content: center;
    display: flex;
}

.container-botões{
    justify-content: center;
    display: flex;
    margin: 35px;
}

.container{
    max-width: 1140px;
    align-items: center;
    justify-content: center;
}

.header--area{
    background-color: rgb(38, 121, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header--left img{
    width: 400px;
    height: 80px;
    align-items: center;    
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search form{
    display: flex;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}
.card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    height: 420px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.card:hover{
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.column {
    float: center;
    width: 25%;
    padding: 0 10px;
  }

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.banner { 
    align-items: center;
    justify-content: space-between;
}

.container-botões{
    margin: auto;
}